<div class="homepage-card mb-3">
    <div class="card" style="width: 18rem;">
        <img src="../images/promo1.jpeg" class="card-img-top" alt="{{this.bname}} image">
        <div class="card-body">
            <h5 class="card-title">{{this.bname}}</h5>
            <div class="card-text">Address: {{this.baddress}}</div>
            <div class="card-text">Contact no: {{this.bphone}}</div>
            <a href="/restaurants/{{this.restaurant_id}}/branches/{{this.id}}" class="btn btn-primary mt-2">View</a>
        </div>
    </div>
</div>
