<div class="container">
    <img class="img-fluid" src={{rimage}} alt={{rimage}}>
</div>
<div class="container">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">{{ bname }}</h5>
            <div class="card-text">Address: {{ baddress }}</div>
            <div class="card-text">Phone Number: {{ bphone }}</div>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Time</th>
                    <th scope="col">Slots</th>
                    <th scope="col">Book</th>
                </tr>
            </thead>
            <tbody>
                {{#each timeslots}}
                <tr>
                    <td>{{this.timing}}</td>
                    <td>{{this.slots}}</td>
                    <td><button id="bookButton" type="button" class="btn btn-info"
                            onclick="book(this.timing)">Select</button></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

<div class="container">
    <button class="btn btn-link" data-toggle="collapse" data-target=#collapse aria-expanded="true"
        aria-controls=collapse>View Menu</button>
    <div id=collapse class="collapse show" data-parent=".card" aria-labelledby="menuitems">
        <div class="list-group">
            {{#each sells }}
            <div class="card-header">
                <h5 class="card-title">{{ @name }}{{ this.name }}</h5>
            </div>
            <div class="card-body">
                <div class=card-text>{{ @price }}{{ this.price }}</div>
            </div>
            {{/each}}
        </div>
    </div>
</div>


<script>
    $(document).ready(() => $('.collapse').collapse('hide'));
    function book(timeslot) {
        document.getElementById("bookButton").style.color = "red";
    }
</script>