<div style="padding: 20px">
    <div class="text-center">
        <h3 style="display: inline"> Promotion: {{promotion.name}} </h3>
        {{#if_eq user.role 'ADMIN'}}
            <a href="/promotions/{{promotion.id}}/edit" class="btn btn-primary btn-sm mb-3">
                Edit
            </a>

        <form class="inline-block" style="float: right" action="promotions/{{promotion.id}}/delete" method="post">
            <input type="submit" class="btn btn-danger btn-sm mb-3" value="Delete"/>
        </form>
        {{/if_eq}}
    </div>

    <div class="card mt-5">
        <div class="card-header">
            Promotional details
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6"> <span class="inline-block"> <h5> Promo Code: </h5> </span> {{promotion.promo_code}} </div>
                <div class="col-md-6"> <span class="inline-block"> <h5> Visibility to public: </h5> </span>
                    {{#if promotion.visibility}} Yes {{else}} No {{/if}}
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-md-6"> <span class="inline-block"> <h5> Start date: </h5> </span> {{toDateTime promotion.start_date}} </div>
                <div class="col-md-6"> <span class="inline-block"> <h5> End date: </h5> </span> {{toDateTime promotion.end_date}} </div>
            </div>

            <div class="row mt-3">
                <div class="col-md-6"> <span class="inline-block"> <h5> Usable period of the day: </h5> </span>
                    {{toTime promotion.start_timeslot}} - {{toTime promotion.end_timeslot}}
                </div>
            </div>

            <div class="row mt-3">
                <h5 class="card-title col-md-12">Description:</h5>
                <p class="card-text col-md-12">{{promotion.description}}</p>
            </div>
        </div>
    </div>

    <div class="card mt-5">
        <div class="card-header">
            Restaurants that uses this promotion
        </div>
        <div class="card-body">
            {{#each branchesByRestaurant}}
                <h5 class="card-title">{{this.0.rname}}</h5>
                {{#each this}}
                    <div class="homepage-card mb-3">
                        <div class="card" style="width: 18rem;">
                            <img src="../images/promo1.jpeg" class="card-img-top" alt="{{this.bname}} image">
                            <div class="card-body">
                                <h5 class="card-title">{{this.bname}}</h5>
                                <div class="card-text">Address: {{this.baddress}}</div>
                                <div class="card-text">Contact no: {{this.bphone}}</div>
                                <a href="#" class="btn btn-primary mt-2">View</a>
                            </div>
                        </div>
                    </div>
                {{/each}}
            {{/each}}
        </div>
    </div>
</div>

<script src="javascripts/promo_form.js"></script>
