<div class="container">
    <img class="img-fluid" src={{image}} alt={{title}} width=800>
    <h1>Welcome to {{title}}!</h1>
    <br />
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Time</th>
                <th scope="col">Slots</th>
                <th scope="col">Book</th>
            </tr>
        </thead>
        <tbody>
            {{#each timeslots}}
            <tr>
                <td>{{this.timing}}</td>
                <td>{{this.slotsLeft}}</td>
                <td><button id="bookButton" type="button" class="btn btn-info"
                        onclick="book(this.timing)">Select</button></td>
            </tr>
            {{/each}}
        </tbody>

</div>

<script src="javascripts/login.js"></script>
<script>
    (function () {
        window.addEventListener('load', function () {
            var forms = [document.getElementById('login_form')];
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', check, false);
            });
        }, false);
    })();
</script>

<script>
    function book(timeslot) {
        document.getElementById("bookButton").style.color = "red";
    }
</script>