{{> navigationHeader }}

<div id="accordion" style="padding-left:5em; padding-right: 5em; padding-top: 2em; padding-bottom: 3em">
    {{#each restaurants }}
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">{{ @rname }}{{ this.rname }}</h5>
            <div class="card-text">Address: {{ @raddress }} {{ this.raddress }}</div>
            <div class="card-text">Phone Number: {{ @rphone }}{{ this.rphone }}</div>
            <button class="btn btn-link" data-toggle="collapse" data-target=#collapse{{@rid}}{{this.rid}} aria-expanded="true" , aria-controls=collapse{{@rid}}{{this.rid}}>Available Branches</button>
        </div>

        <div id=collapse{{@rid}}{{this.rid}} class="collapse show" data-parent="#accordion" aria-labelledby={{@rid}}{{this.rid}}>
            <div class="list-group">
                {{ @branches }}{{#each this.branches }}
                <div class="card-body" id=b{{@bid}}{{this.bid}}>
                    <form action="branch" method="post">
                        <input type="hidden" name="bid" value={{@bid}}{{this.bid}}>
                        <input type="hidden" name="bid" value={{@baddress}}{{this.baddress}}>
                        <input type="hidden" name="bid" value={{@bphone}}{{this.bphone}}>
                        <button type="submit" class="list-group-item list-group-item-action">
                            <h5 class="card-title">{{ @bname }}{{ this.bname }}</h5>
                            <div class="card-text">{{ @baddress }}{{ this.baddress }}</div>
                            <div class="card-text">{{ @bphone }}{{ this.bphone }}</div>
                        </button>
                    </form>
                </div>
                {{/each}}
            </div>
        </div>

    </div>
    {{/each}}
</div>

<script>
    (function () {
        window.addEventListener('load', function () {
            $('.collapse').collapse();              
        }, false);
    })();
</script>